.ChatMessageMain{
    display: grid;
    grid-template-columns: 5% 90%;
    grid-template-rows: 95% 10%;
    margin: 20px;
    align-items: start;
    color: white;
    font-weight: 800;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    padding: 10px;
}